{% extends 'base.html' %}
{% load static %}
{% block nav_about %}
	active
{% endblock %}
{% block content %} 
    <section class="home-slider  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'img/mech-slide.JPG' %});">
        <div class="about-us element-animate">
			<h1 style="	color: #fff;"><b>About Us</b></h1>
		</div>
      </div>
    </section>
    <!-- END slider -->
    
	<div class="row ab-text">
		<div class="row mb-5">
			<div class="col-md-6 order-lg-6">
				<img src="{% static 'img/slider-1.jpg' %}" alt="Image placeholder" class="img-fluid1">
			</div>
			<div class="col-md-5 order-lg-1 listy">
				<ul class="check1">
					<li>Encender Nigeria Limited, is a Nigerian owned private limited liability company.
						The Directors are Nigerians, Encender provides services for Oil and Gas Sector as well as the Power Sector.
					</li><br>
					<li>ENCENDER is young and committed by it's expertise in crane maintenance, calibrations of psv's, gas detector, 
						asset integrity, leak repairs, hiring of equipments... and trainings.
					</li><br>
					<li>Encender looks out to add on to the Human Capital Development Index(HCDI) in Nigeria by it's numerous trainings
						which you can find in the services section.
					</li>
				</ul>
			</div>  
		</div>
	</div>

		
	<div class="row ab">
		<div class="col-md-6 order-lg-1 mb-5 ab">
			<img src="{% static 'img/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid">
		</div>
			<div class="col-md-5 order-lg-3">
				<h4 class="heading"><br><br><b>Our Aim</b></h4>
				<ul style="color:black;">
					<li>To ensure our projects are delivered within estimated time frame and proper cost optimization</li><br>
					<li>To ensure all stakeholders are effectively satisfied with the project's delivery</li><br>
					<li>Ensure an excellent project is given within the estimated cost</li><br>
					<li>Ensure jobs are delivered with high level of integrity and professionalism</li><br>
				</ul>
			</div>
         </div>
	</div>
	
		<div class="row mb-5 ab">
			<div class="col-md-6 order-lg-6">
				<img src="{% static 'img/m7.jpg' %}" alt="Image placeholder" class="img-fluid1">
			</div>
			<div class="col-md-5 order-lg-1 listy">
				<h4><b>Our Values</b></h4>
				<ul class="check2">
					<li>Team Work</li>
						<p>
						
						</p>
					<li>Integrity</li>
						<p>
						
						</p>
					<li>Corporate Responsibility</li>
						<p>The value of ownership of services to be done, equipment, etc cuts across each fabric of every employee
							in Encender. We own our services.
						</p>
					<li>Diligence</li>
						<p>
						
						</p>
					<li>Cultural Diversity</li>
						<ul>
							<li>Employ both genders equally</li>
							<li>Employees are expected to tolerate and forebear each other</li>
						</ul>
				</ul>
			</div>  
		</div>
	</div>
	  
		
	<div class="container">
		<div class="row justify-content-center mb-5 element-animate">
			<div class="col-md-8 text-center mb-5">
				<h4 class="heading border-bottom mb-4"><b>Our Mission</b></h4>
				<p>Encender is intentional about professionalism and integrity towards it's service delivery
					hence, we would follow through with cutting edge technologies and present values of Encender to provide 
					great services at an uttermost level of integrity and professionalism.
				</p>
			</div>  
		</div>
	</div>
	
	  
    <div class="container">
		<div class="row justify-content-center mb-5 element-animate">
			<div class="col-md-8 text-center mb-5">
				<h4 class="heading border-bottom mb-4"><b>Our Vision</b></h4>
				<p>ENCENDER aspires to lead "Asset Integrity", "Maintenance", "Procurements" and "Engineering Solutions" in Africa.
				</p>
			</div>
		</div>
	</div>
        <!--<div class="row">
          <div class="col-md-6 element-animate">
            <div class="media d-block media-testimonial text-center">
              <div class="media-body">
                <blockquote>
                  <p>&ldquo;we work with a team mind-set. Work is only positive when every one has contributed effectively to it. Excellent Job delivery and Satisfaction with one spirit.&rdquo;</p>  
                </blockquote>

              </div>
            </div>
          </div>

          <div class="col-md-6 element-animate">
            <div class="media d-block media-testimonial text-center">
              <div class="media-body">
                <blockquote>
                  <p>&ldquo;every project is done with trust. We celebrate our core attitude of integrity to client. Every Client and Staff is given a pay check of integrity as they work with us.&rdquo;</p>  
                </blockquote>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>-->

{% endblock %}