{% extends 'base.html' %}
{% load static %}
{% block nav_clients %}
	active
{% endblock %}
{% block content %} 

    
    <section class="home-slider  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'img/img_slider-8.JPG' %});">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 style="font-family: 'Nunito', sans-serif;">Our Clients</h1>
            </div>
          </div>
        </div>

      </div>


    </section>
    <!-- END slider -->
    
    <section class="section">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo1.PNG' %}"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
				<img src="{% static 'img/logo2.PNG' %}"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
				<img src="{% static 'img/logo3.png' %}"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo4.png' %}"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo5.PNG' %}"/>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo6.png' %}"/>
              </div>
            </div>
          </div>
		  
		  
		  <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo7.png' %}"/>
              </div>
            </div>
          </div>
		  
		  
		  <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo8.PNG' %}"/>
              </div>
            </div>
          </div>
		  
		  <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <div class="media-body">
					<img src="{% static 'img/logo9.PNG' %}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
{% endblock %}