{% extends 'base.html' %}
{% load static %}
{% block nav_home %}
	active
{% endblock %}
{% block content %} 
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'img/mt.jpg' %});">       
		<div class="about-us1 element-animate">
			<h1 style="	color: #fff; font-family: 'Nunito', sans-serif;"><b>Mechanical and Structural Engineering</b></h1>
		</div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'img/tt.jpg' %});">
		<div class="about-us1 element-animate">
			<h1 style="	color: #fff; font-family: 'Nunito', sans-serif;"><b>Electrical Installation and Automation</b></h1>
		</div>     
	</div>
	  
	<div class="slider-item" style="background-image: url({% static 'img/att.jpg' %});">        
		<div class="about-us1 element-animate">
			<h1 style="	color: #fff; font-family: 'Nunito', sans-serif;"><b>Asset Integrity</b></h1>
		</div>
	</div>
		
	<div class="slider-item" style="background-image: url({% static 'img/trai.jpg' %});">        
        <div class="about-us1 element-animate">
			<h1 style="	color: #fff; font-family: 'Nunito', sans-serif;"><b>Trainings</b></h1>
		</div>
	</div>
	
    </section>
    <!-- END slider -->

    <section class="container cta-overlap">
      <div class="text d-flex">
        <h2 class="h3">Experts in Providing Engineering, Procurements and Asset Integrity Solutions.</h2>
        <div class="ml-auto btn-wrap">
          <a href="{% url 'quote' %}" class="btn-cta btn btn-outline-white">Download<br>Brochure</a>
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="section">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="text-uppercase heading border-bottom mb-4">Services</h2>
            <p class="mb-3 lead">ENCENDER NIGERIA LIMITED is a lead expert in providing Engineering, Procurements and Asset Integrity solutions. We handle the following under the integrity spectrum:</p>
          </div>
        </div>

        <div class="row mb-5">

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-blueprint icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">MECHANICAL AND STRUCTURAL ENGINEERING</h3>
                <p><a href="{% url 'services-single' %}#ref1" class="btn btn-outline-primary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-building-1 icon"></span>
              <div class="media-body">
				<h3 class="mt-0 text-black">ELECTRICAL INSTALLATION AND AUTOMATION</h3>
                <p><a href="{% url 'services-single' %}#ref2" class="btn btn-outline-primary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-crane icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">ASSET INTEGRITY</h3>
                <p><a href="{% url 'services-single' %}#ref3" class="btn btn-outline-primary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div>
          
        </div>
        <!-- END row -->
        <div class="row justify-content-center element-animate"> 
          <div class="col-md-4"><p><a href="{% url 'services' %}" class="btn btn-primary btn-block">View All Services</a></p></div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="text-uppercase heading border-bottom mb-4">Recent Works</h2>
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="#}" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/p6.jpeg' %}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="#" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/p3.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="#" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/a6.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
          </div>

        </div>
      </div>
    </section>
    <!-- END section -->
{% endblock %}