{% extends 'base.html' %}
{% load static %}
{% block nav_projects %}
	active
{% endblock %}
{% block content %} 
    
    <section class="home-slider  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'img/img_slider-5.JPG' %});">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 style="font-family: 'Nunito', sans-serif;">Completed Projects</h1>
            </div>
          </div>
        </div>

      </div>


    </section>
    <!-- END slider -->
    
    <section class="section">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_1.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>
		  
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_2.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>
		  
		  <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_1.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>

          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_1.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>
		  
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_2.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>
		  
          <div class="col-md-4 element-animate">
            <a href="works-single.html" class="link-thumbnail">
              <span class="ion-plus icon"></span>
              <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid">
            </a>
			<div class="col-md-20 text-center">
            <p class="mb-3 lead">ENCENDER, we are  a team of professionals who seek to give clients excellent customer satisfaction with international best practices and standard in view.</p>
            <p><a href="{% url 'projects' %}" class="btn btn-primary">View All Works</a></p>
			</div>
          </div>

        </div>
      </div>
    </section>
    
{% endblock %}
    