{% extends 'base.html' %}
{% load static %}
{% block nav_projects %}
	active
{% endblock %}
{% block content %} 
    
    <section class="home-slider  inner-page owl-carousel">
		<div class="slider-item" style="background-image: url({% static 'img/img_slider-5.jpg' %});">
		<div class="about-us element-animate">
			<h1 style="	color: #fff;"><b>Our Projects</b></h1>
		</div>
      </div>
      </div>
    </section>
    <!-- END slider -->
    
    <section class="section abb">
		<div class="container">
			<h4><b><br>NDT/LRUT Projects<br></b></h4>
			<div class="row no-gutters">
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/work_thumb_1.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
		  
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/a2i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/a4i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
			
		<div class="container">
			<h4><b><br>Installation and Automation Projects<br></b></h4>
			<div class="row no-gutters">
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/p3i.png' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/e2i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/t2i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
			
			
		<div class="container">
			<h4><b><br>Crane Maintenance Projects<br></b></h4>
			<div class="row no-gutters">
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/m1i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/m7i.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			
				<div class="col-md-4 element-animate">
					<a href="" class="link-thumbnail">
						<span class="ion-plus icon"></span>
						<img src="{% static 'img/p5.jpg' %}" alt="Image placeholder" class="img-fluid">
					</a>
				</div>
			</div>
			
        </div>
		
    </section>
    
{% endblock %}
    