{% extends 'base.html' %}
{% load static %}
{% block content %} 
    
    <section class="home-slider  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url({% static 'img/slider-1.jpg' %});">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1>Services Details</h1>
            </div>
          </div>
        </div>

      </div>


    </section>
    <!-- END slider -->
    

    <section id="section-1" class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <img src="{% static 'img/slider-2.jpg' %}" alt="Image placeholder" class="img-fluid">
          </div>
        </div>
        

		<div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <div class="row mb-5">
				<div class="col-md-6 mx-auto">
					<h2 class="text-uppercase heading mb-4">Description</h2>
					<p>ENCENDER NIGERIA LIMITED is a lead expert in providing Engineering, Procurements and Asset Integrity solutions.</p>
					<p> We handle the following under the integrity spectrum:<br>			
					  Mechanical and Structural Engineering<br>
					  Electrical Installation and Automation<br>
					  Asset Integrity<br>
					  Trainings
			
					</p>
				</div>
			</div>
          </div>
        </div>
		
		

		
		<div class="row justify-content-center mb-5 element-animate" id="ref1">
          <div class="col-md-8 text-center">
            <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
            <h4><b>MECHANICAL AND STRUCTURAL ENGINEERING</b></h4>
			<p>ENCENDER offers engineering solutions setting out from the design stage to the development and to the project commissioning. Our network of Project Management Team, Engineering Team  and Business Development Team see to it that the  job is delivered in the best possible international EHS standard. We offer the following solutions:-</p>

            <ul class="list-unstyled check">
              <li>Fabrication of Structures( Gantries, Mud Tanks, Above Storage Tanks, Underground Storage Tanks)</li>
			  <li>Platform Refurbishment</li> 
			  <li>Corrosion Control(Painting, Sandblasting)</li>
			  <li>Cathodic Protection System</li>
			  <li>Procurement and Installation of Pumps, Valves, Actuators</li>
			  <li>Procurement of Cranes(0-20Tons)</li> 
			  <li>Fabrication and Installation of Lifting eyes on skid tanks</li> 
			  <li> Maintenance of Pumps and  Hydraulic Hoist systems</li> 
			  <li>PSV Calibration Services</li>

            </ul>
          </div>
        </div>
		
		<div class="row justify-content-center mb-5 element-animate" id="ref2">
          <div class="col-md-8 text-center">
            <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
            <h4><b>ELECTRICAL INSTALLATION AND AUTOMATION</b></h4>
			<p>ENCENDER offers several electrical installation and automation solutions.<br>
				which are:-</p>

            <ul class="list-unstyled check">
              <li>Instrumentation and Automation</li>
			  <li>Piping and Design</li> 
			  <li>Automation of PLC</li>
			  <li>SCADA HME & DCS(installation, maintenance & repair)</li>
			  <li>Panel Design, Installation and Maintenance</li>
            </ul>
          </div>
        </div>
		
		<div class="row justify-content-center mb-5 element-animate" id="ref3">
          <div class="col-md-8 text-center">
            <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
            <h4><b>ASSET INTEGRITY</b></h4>
			<p>ENCENDER has over the decade provided asset integrity solutions:</p><br>
			
			<p><b>PIPELINE INTEGRITY PROGRAM</b></p>
			<p>
				Our pipeline integrity program, is robust to handle pipe scans down to 50feet beneath the earth surface.<br>
				We conduct these advanced NDT inspections on pipelines and they are as follows:
			</p>
            <ul class="list-unstyled check">
              <li>Long Range Ultrasonic Testing</li>   
			  <li>Time of Flight Diffraction on pipeline welds</li>  
			  <li>Coating Defect Survey</li>  
			  <li>Basic NDT Inspections(UTM,DPI,MPI,PT)</li>  
			  <li>Cathodic Protection Installation and maintenance</li> 
            </ul>
			
			<p><b>VESSEL INTEGRITY PROGRAM</b></p>
			<p>
				With our vessel integrity program, we carry out our inspections based on the internationally approved and recognized standard
				which could vary because it is tailored to the needs of our clients.<br>
				We carry out basic NDT inspections and advanced NDT inspections on pressure vessels and they are as follows:
			</p>
            <ul class="list-unstyled check">
              <li>Corrosion Mapping of Pressure Vessels</li>   
			  <li>Time of Flight Diffraction on Vessel welds</li>  
			  <li>Phrase Array Ultrasonic Test</li>  
			  <li>Basic NDT Inspections(UTM,DPI,MPI,PT)</li>  
            </ul>
			<p>				
				 We provide technical and professional consultancy in provision of these solutions depending on the given scope of activities.
				 Working with Encender would give clients the necessary excellent posture that is primary to deliver the project. 
			</p>
          </div>
        </div>
		
		<div class="row justify-content-center mb-5 element-animate" id="ref4">
          <div class="col-md-8 text-center">
            <img src="{% static 'img/work_thumb_3.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
            <h4><b>TRAININGS</b></h4>
			<p>ENCENDER offers trainings on the following fields:-</p>

            <ul class="list-unstyled check">
              <li>HSE(I, II, III)</li>
			  <li>Platform Refurbishment</li> 
			  <li>PMP (with software training)</li>
			  <li>Instrumentation & Control</li>
			  <li>Automation</li>
			  <li>NDT(Basic & Advance)</li> 
			  <li>Panel Design</li> 
            </ul>
          </div>
        </div>

      </div>
    </section>
    <!-- END section -->

{% endblock %}