{% extends 'base.html' %}
{% load static %}
{% block content %} 

	<section class="home-slider  inner-page owl-carousel" id="ref1">
		<div class="slider-item" style="background-image: url({% static 'img/img_slider-3.JPG' %});">
			<div class="about-us element-animate">
				<h1 style="	color: #fff;"><b>Mechanical and Structural Engineering</b></h1>
			</div>
		</div>
	</section>
	<div class="container ab-text">
		<div class="row mb-5">
			<div class="col-md-6 order-lg-6">
				<div class="outter-grid img-fluid">
					<div class="inner-grid">
						<img src="{% static 'img/m1.jpg' %}" class="gallery-img">		
						<img src="{% static 'img/m2.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/m3.jpg' %}" class="gallery-img">
						<img src="{% static 'img/m4.png' %}" class="gallery-img">
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/m5.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/m6.jpg' %}" class="gallery-img">				
						<img src="{% static 'img/m7.jpg' %}" class="gallery-img">
						<img src="{% static 'img/m8.jpg' %}" class="gallery-img">
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/m9.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/m10.jpg' %}" class="gallery-img">				
						<img src="{% static 'img/m11.jpg' %}" class="gallery-img">
						<img src="{% static 'img/m12.jpg' %}" class="gallery-img">						
					</div>
				</div>
			</div>
			<div class="col-md-5 order-lg-1" style="color:#000;">
				<p>ENCENDER offers Engineering Solutions setting out from the Design stage to the Development and to the Project 
					Commissioning. Our network of Project Management Team, Engineering Team  and Business Development Team see 
					to it that the job is delivered in the best possible International EHS Standard.
					We offer the following solutions:-
				</p>
				<ul class="check2">
					<li>Fabrication of Structures( Gantries, Mud Tanks, Above Storage Tanks, Underground Storage Tanks)</li>
					<li>Platform Refurbishment</li> 
					<li>Corrosion Control(Painting, Sandblasting)</li>
					<li>Cathodic Protection System</li>
					<li>Procurement and Installation of Pumps, Valves, Actuators</li>
					<li>Procurement of Cranes(0-20Tons)</li> 
					<li>Fabrication and Installation of Lifting eyes on skid tanks</li> 
					<li> Maintenance of Pumps and  Hydraulic Hoist systems</li> 
					<li>PSV Calibration Services</li>
				</ul>
			</div>
		</div>
	</div>
		
		
	<section class="home-slider  inner-page owl-carousel" id="ref2">
		<div class="slider-item" style="background-image: url({% static 'img/tt.jpg' %});">  
			<div class="about-us element-animate">
				<h1 style="	color: #fff;"><b>Electrical Installation and Automation</b></h1>
			</div>
		</div>
	</section>
	
	<div class="container ab-text">
		<div class="row mb-5">
			<div class="col-md-6 order-lg-6">
				<div class="outter-grid img-fluid">
					<div class="inner-grid">
						<img src="{% static 'img/e1.jpg' %}" class="gallery-img">		
						<img src="{% static 'img/e2.jpg' %}" class="gallery-img">	
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/e3.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/e4.png' %}" class="gallery-img">				
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/e5.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/e6.jpg' %}" class="gallery-img">										
					</div>
				</div>
			</div>
			<div class="col-md-5 order-lg-1" style="color:#000;">
				<p>ENCENDER offers several electrical installation and automation solutions.<br>
					which are:-</p>
				<ul class="check2">
					<li>Instrumentation and Automation</li>
					<li>Piping and Design</li> 
					<li>Automation of PLC</li>
					<li>SCADA HME & DCS(installation, maintenance & repair)</li>
					<li>Panel Design, Installation and Maintenance</li>
				</ul>
			</div> 
		</div>
	</div>

		
	<section class="home-slider  inner-page owl-carousel" id="ref3">
		<div class="slider-item" style="background-image: url({% static 'img/att.jpg' %});">
			<div class="about-us element-animate">
				<h1 style="	color: #fff;"><b>Asset Integrity</b></h1>
			</div>
		</div>
	</section>
	
	<div class="container ab-text">
		<div class="row mb-5">
			<div class="col-md-6 order-lg-6">
				<div class="outter-grid img-fluid">
					<div class="inner-grid">
						<img src="{% static 'img/a1.jpg' %}" class="gallery-img">		
						<img src="{% static 'img/a2.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/a3.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a4.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a5.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a6.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a7.jpg' %}" class="gallery-img">
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/a8.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/a9.jpg' %}" class="gallery-img">				
						<img src="{% static 'img/a10.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a11.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a12.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a13.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a14.png' %}" class="gallery-img">
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/a15.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/a16.jpg' %}" class="gallery-img">				
						<img src="{% static 'img/a17.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a18.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a19.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a20.jpg' %}" class="gallery-img">
						<img src="{% static 'img/a21.jpg' %}" class="gallery-img">
					</div>
				</div>
			</div>
			<div class="col-md-5 order-lg-1" style="color:#000;">
				<p>ENCENDER has over the decade provided asset integrity solutions:</p><br>
			
				<p><b>Pipline Integrity Program</b></p>
				<p>
					Our pipeline integrity program, is robust to handle pipe scans down to 50feet beneath the earth surface.<br>
					We conduct these advanced NDT inspections on pipelines and they are as follows:
				</p>
				<ul class="check2">
					<li>Long Range Ultrasonic Testing</li>   
					<li>Time of Flight Diffraction on pipeline welds</li>  
					<li>Coating Defect Survey</li>  
					<li>Basic NDT Inspections(UTM,DPI,MPI,PT)</li>  
					<li>Cathodic Protection Installation and maintenance</li> 
				</ul>
			
				<p><b>Vessel Integrity Program</b></p>
				<p>
					With our vessel integrity program, we carry out our inspections based on the internationally approved and recognized standard
					which could vary because it is tailored to the needs of our clients.<br>
					We carry out basic NDT inspections and advanced NDT inspections on pressure vessels and they are as follows:
				</p>
				<ul class="check2">
					<li>Corrosion Mapping of Pressure Vessels</li>   
					<li>Time of Flight Diffraction on Vessel welds</li>  
					<li>Phrase Array Ultrasonic Test</li>  
					<li>Basic NDT Inspections(UTM,DPI,MPI,PT)</li>  
				</ul>
				<p>				
					We provide technical and professional consultancy in provision of these solutions depending on the given scope of activities.
					Working with Encender would give clients the necessary excellent posture that is primary to deliver the project. 
				</p>
			</div>
		</div>
	</div>
		
	<section class="home-slider  inner-page owl-carousel" id="ref4">
		<div class="slider-item" style="background-image: url({% static 'img/trai.jpg' %});"> 
			<div class="about-us element-animate">
				<h1 style="color: #fff;"><b>Trainings</b></h1>	
			</div>
		</div>
	</section>
	
	<div class="container ab-text">
		<div class="row mb-5">
			<div class="col-md-6 order-lg-6">
				<div class="outter-grid img-fluid">
					<div class="inner-grid">
						<img src="{% static 'img/t1.jpg' %}" class="gallery-img">		
						<img src="{% static 'img/t2.jpg' %}" class="gallery-img">	
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/t3.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/t4.jpg' %}" class="gallery-img">				
					</div>
					<div class="inner-grid">
						<img src="{% static 'img/t5.jpg' %}" class="gallery-img">	
						<img src="{% static 'img/t6.jpg' %}" class="gallery-img">										
					</div>
				</div>
			</div>
			<div class="col-md-5 order-lg-1" style="color:#000;">
				<p>ENCENDER offers trainings on the following fields:-</p>
				<ul class="check2">
					<li>HSE(I, II, III)</li>
					<li>Platform Refurbishment</li> 
					<li>PMP (with software training)</li>
					<li>Instrumentation & Control</li>
					<li>Automation</li>
					<li>NDT(Basic & Advance)</li> 
					<li>Panel Design</li> 
				</ul>
			</div>
		</div>
	</div>
    <!-- END section -->

{% endblock %}